html
  head
    title xanaxed qoutes
    link(rel='stylesheet', href='/public/css/homePage.css')
  body
    heading.heading-text
      h1 Какой ты сегодня? (хуй соси)

    div.moods
      a(href='/quote/shitty')
        span Грустный
        img(src='https://assets-cdn.github.com/images/icons/emoji/unicode/1f615.png')

      a(href='/quote/happy')
        span Счастливый
        img(src='https://assets-cdn.github.com/images/icons/emoji/unicode/1f60a.png')

      a(href='/quote/inspirational')
        span Вдохновляющий
        img(src='https://assets-cdn.github.com/images/icons/emoji/unicode/1f389.png')

      a(href='/quote/suicidal')
        span Суицидальный
        img(src='https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png')
