extends layout


block content
    main.app
      heading.heading
        h1.heading__text Какой ты сегодня? (хуй соси)

      div.moods
        a(href='/quote/shitty').mood
          span.mood__title Грустный
          img(src='https://assets-cdn.github.com/images/icons/emoji/unicode/1f615.png' width="70" height="70").mood__image

        a(href='/quote/happy').mood
          span.mood__title Счастливый
          img(src='https://assets-cdn.github.com/images/icons/emoji/unicode/1f60a.png' width="70" height="70").mood__image

        a(href='/quote/inspirational').mood
          span.mood__title Вдохновляющий
          img(src='https://assets-cdn.github.com/images/icons/emoji/unicode/1f389.png' width="70" height="70").mood__image

        a(href='/quote/suicidal').mood
          span.mood__title Суицидальный
          img(src='https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png' width="70" height="70").mood__image
