html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title xanaxed qoutes
    link(rel='stylesheet', href='/public/css/style.css')
    link(href='https://fonts.googleapis.com/css?family=Lobster&amp;subset=cyrillic' rel='stylesheet')
    script(type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251")
  body

  block content




  