html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title xanaxed qoutes
    link(rel='stylesheet', href='/public/css/style.css')
    link(href='https://fonts.googleapis.com/css?family=Lobster&amp;subset=cyrillic' rel='stylesheet')
  body

  block content




  