extends layout


block content
    main.app
    form(action="/quote" method="POST")
      p Текст:
        textarea(name="text" placeholder="Введи текст сука")
      p Настроение:
        select(name="mood")
          option(value='shitty') Грустный
          option(value='happy') Счастливый
          option(value='inspirational') Вдохновляющий
          option(value='suicidal') Суицидальный
      input(type="submit")
