html
  head
    title xanaxed qoutes
    link(rel='stylesheet', href='/public/css/quotePage.css')
  body
    div.quote-content-wrapper
      div.quote-content
        div.quote-text
        each line in quote
          span= line
