extends layout


block content
  div.parallax-wrapper
    div.parallax-scene(data-relative-input='true' id='scene')
      div.pavel-ebalo-background(data-depth='0.03')

      div.quote-content-wrapper(data-depth='0.1')
        div.quote-content
          div.quote-content__quote-text
            each line in quote
              p.quote-content__paragraph= line

        .user-block
          a.user-block__btn(href="/") < На главную

  script(src='https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js')
  script.
    const scene = document.getElementById('scene');
    const parallaxInstance = new Parallax(scene, {
      relativeInput: true,
      pointerEvents: true
    });
