extends layout


block content
  div.parallax-wrapper
    div.parallax-scene(data-relative-input='true' id='scene')
      div.pavel-ebalo-background(data-depth='0.03')

      div.quote-content-wrapper(data-depth='0.1')
        div.quote-content
          div.quote-content__quote-text
            each line in quote
              p.quote-content__paragraph= line
          div.social
            a.twitter-share-button(href='https://twitter.com/intent/tweet?text=нужен%20ксанакс' data-size='large') Твитнуть
            script.
              document.write(VK.Share.button(
                {
                  title: 'Ксанаксовые цитаты на каждый день',
                  image: 'https://coubsecure-s.akamaihd.net/get/b176/p/coub/simple/cw_timeline_pic/45c3c58ae4a/d7f39b800d96cb2329f01/big_1501884001_image.jpg'
                },{
                  type: "custom",
                  text: "<img src=\"https://vk.com/images/share_32.png\" width=\"32\" height=\"28\" class=\"social__vk\" /> "
                }));

        .user-block
          a.user-block__btn(href="/") < На главную


  script(src='https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js')
  script.
    const scene = document.getElementById('scene');
    const parallaxInstance = new Parallax(scene, {
      relativeInput: true,
      pointerEvents: true
    });

  script.
    window.twttr = (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function (f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));