html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Lobster', serif;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #99ced3;
  background-image: url(../img/pavel.png);
  background-size: 80px 80px;
  min-width: 320px;
}

.app {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px;
}

.moods {
  display: flex;
  flex-direction: column;
}

.mood__image {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.mood {
  height: 70px;
  background-color: #ed85bf;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  text-decoration: none;
  color: white;
  align-items: center;
  font-size: 24px;
  border-radius: 5px;
  margin-bottom: 5px;
  transform: skewX(-5deg);
}


.heading {
  margin-bottom: 25vh;
  background-color: #ed85bf;
  text-align: center;
  color: white;
  -webkit-box-shadow: 0px 0px 85px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 85px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 85px -6px rgba(0,0,0,0.75);
  transform: skewX(-5deg);
}

.heading__text {
  color: white;
}

.quote-content-wrapper {
  display: flex !important;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.quote-content__quote-text {
  color: #fff;
  background-color: #ed85bf;
  font-size: 30px;
  line-height: 25px;
  transform: skewX(-10deg);
  padding: 5px;
}

.quote-content__paragraph {
  text-align: center;
  max-width: 290px;
  margin: 0;
}


@media(min-width: 768px) {
  .app {
    width: 700px;
  }

  .moods {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .heading {
    margin-bottom: 40vh;
  }

  .mood {
    width: 340px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 85px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 85px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 85px -6px rgba(0,0,0,0.75);
    justify-content: center;
  }

  .mood__image {
    margin: 0 10px 0 0;
  }

  body {
    background-size: 150px 150px;
  }

  .quote-content-wrapper {
    display: flex !important;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .quote-content__quote-text {
    font-size: 64px;
    line-height: 18px;
    color: #fff;
    background-color: #ed85bf;
    padding: 15px;
    transform: skewX(-10deg);
  }
  
  .quote-content__paragraph {
    line-height: 64px;
    margin: 5px 0 5px 0;
    text-align: center;
    max-width: 740px;
  }
}


.pavel-ebalo-background {
  position: absolute;
  top: -5vh !important;
  left: -5vw !important;
  width: 110vw;
  height: 110vh;
  background: url(https://coubsecure-s.akamaihd.net/get/b176/p/coub/simple/cw_timeline_pic/45c3c58ae4a/d7f39b800d96cb2329f01/big_1501884001_image.jpg);
  background-size: cover;
  background-position: 26% 50%;
}

.parallax-wrapper {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.user-block {
  position: absolute;
  left: 5%;
  top: 15px;
  font-size: 32px;
}

.user-block__btn {
  text-decoration: none;
  color: white;
  transition: 0.2s;
  opacity: 0.7;
}

.user-block__btn:hover {
  opacity: 1;
  border-bottom: 2px solid #99ced3;
}

.user-block__btn:active {
  color: #ed85bf;
  border-bottom-color: #ed85bf;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  transform: skewX(-10deg);
}

.twitter-share-button {
  margin-bottom: -10px;
  margin-right: 10px;
}